In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sqlite3
from statsmodels.stats.multicomp import MultiComparison 
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [2]:
conn = sqlite3.connect('Northwind_small.sqlite')
cur = conn.cursor()

<img src='Northwind_ERD.png'>

In [9]:
q7= """

    SELECT Quantity,Discount 
    FROM OrderDetail AS OD
    WHERE Discount = 0
    ;
    
"""

cursor = cur.execute(q7)

names = [description[0] for description in cursor.description]

df_master = pd.DataFrame(cursor.fetchall(),columns=names)

display(df_master)

      Quantity  Discount
0           12       0.0
1           10       0.0
2            5       0.0
3            9       0.0
4           40       0.0
...        ...       ...
1312         2       0.0
1313         2       0.0
1314         1       0.0
1315         4       0.0
1316         2       0.0

[1317 rows x 2 columns]

In [5]:
df_master['Discount'].value_counts()

0.00    1317
0.05     185
0.10     173
0.20     161
0.15     157
0.25     154
0.03       3
0.02       2
0.01       1
0.04       1
0.06       1
Name: Discount, dtype: int64

There is no difference in quantity when a discount is given. 
APplying a discount results in higher quantities ordered. 

All orders where no discount was applied.

In [11]:
df_no_orders = df_master[df_master['Discount'] == 0]['Quantity']

In [14]:
display(df_no_orders)

0       12
1       10
2        5
3        9
4       40
        ..
1312     2
1313     2
1314     1
1315     4
1316     2
Name: Quantity, Length: 1317, dtype: int64

In [15]:
q7= """

    SELECT Quantity,Discount 
    FROM OrderDetail AS OD
    WHERE Discount != 0
    ;
    
"""

cursor = cur.execute(q7)

names = [description[0] for description in cursor.description]

df_with_discounts = pd.DataFrame(cursor.fetchall(),columns=names)
df_with_discounts = df_with_discounts['Quantity']

display(df_with_discounts)

0      35
1      15
2       6
3      15
4      40
       ..
833     2
834     3
835     2
836     2
837     2
Name: Quantity, Length: 838, dtype: int64

In [18]:
print(sum(df_no_orders.isna()))

0